<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/Sys/css/layui.css">
    <link rel="stylesheet" href="/Sys/css/sign.css">

    <link rel="stylesheet"
          href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Sys/css/font.css">
    <link rel="stylesheet" href="/Sys/css/xadmin.css">
    <script type="text/javascript"
            src="/Sys/js/jquery-3.3.1.min.js"></script>
    <script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!--<script type="text/javascript" src = "/Sys/js/jquery.table2excel.js"></script>-->
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">

        <div class="layui-form-item">
            <label class="layui-form-label">课程：</label>
            <div class="layui-input-inline layui-form">
                <select id="course" name="course" lay-filter="courses" class="select" lay-search>
                    <option value="" ></option>
                </select>
            </div>
            <button class="layui-btn" data-type="reload" ><i class="layui-icon">&#xe615;</i></button>
        </div>
        <xblock >
            <button type="button" lay-submit="" class="layui-btn layui-btn-warm" id="stuexportExcel" name="exportExcel">
                <i class="layui-icon"></i>导出Excel</button>
        </xblock>
        <table id="test" lay-filter="test"></table>
    </div>
</div>
</body>

<script type="text/html" id="barDemo">
    <a title="修改信息 "   onclick="stuScoreModi()" href="javascript:;">
        <i class="layui-icon">&#xe642;</i>
    </a>
    <a title="删除"  onclick="deleteStuScore()" href="javascript:;" lay-event="edit">
        <i class="layui-icon">&#xe640;</i>
    </a>
</script>



<script >
    function getCourse() {
        $.ajax({
            type:"POST",
            url:'/Sys/CourseDeal/queryCourseList',  //从数据库查询返回的是个list
            dataType: "json",
            async: false,
            cache: false,
            contentType: "application/json",
            success: function (data) {
                $.each(data,function(index,item){
                    option = new Option(item.text,item.value)
                    $('#course').append(option);//往下拉菜单里添加元素
                });
                // layui.form.render("select");//重新渲染 固定写法
            }
        });
    }
    $(function(){
        getCourse();
    });
    var documentWidth = $(document).width();
    var numObj = layui.data('user');
    var num = numObj.userNo;
    var sclass="";
    var course="";
    var stu=num;
    layui.use(['table','form'],function(){
        var table = layui.table;
        var form = layui.form;
        form.render();
        form.on('select(courses)',function(data){
            course = data.value;

        });

        table.render({
            elem: '#test'  //绑定table表格
            ,id:'csInfo'
            ,method:'post'
            ,url: '/Sys/StuScoreDeal/getStuScoreList' //后台springmvc接收路径
            ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                ,groups: 1 //只显示 1 个连续页码
                ,first: false //不显示首页
                ,last: false //不显示尾页
                ,limit:3
                ,limits:[3,6,9]
            }
            ,cols: [
                [
                    {type: 'checkbox',width:documentWidth*4/100}
                    ,{field:'className',edit: 'text',title:'班级',width:documentWidth*8/100,sort:true}
                    ,{field:'stuno',title:'学号', width:documentWidth*10/100, sort: true}
                    ,{field:'stuName',title:'姓名', width:documentWidth*8/100,sort:true}
                    ,{field:'courseName',title:'学科',width:documentWidth*8/100,sort:true}
                    ,{field:'attendance',title:'出勤成绩',width:documentWidth*8/100,sort:true}
                    ,{field:'work',title:'作业成绩',width:documentWidth*8/100,sort:true}
                    ,{field:'experiment',title:'实验成绩',width:documentWidth*8/100,sort:true}
                    ,{field:'other',title:'其他成绩',width:documentWidth*8/100,sort:true}
                    ,{field:'score',edit: 'text',title:'总成绩',width:documentWidth*8/100,sort:true}
                ]
            ]
            ,where: {
                sclass : sclass ,
                course: course,
                stu: stu
            }
        });




        var $ = layui.$, active = {

            reload: function(){
                table.reload('csInfo', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url:'/Sys/StuScoreDeal/getStuScoreList'
                    ,where: {
                        course: course,
                    }
                    ,method:'post'
                });
            }
        };

        $('.layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });

    layui.config({//配置并导入excel插件
        base: '/Sys/js/layui_exts/'
    }).use([ 'excel', 'layer'], function() {
        var $ = layui.$;
        var layer = layui.layer;
        var excel = layui.excel;
        $('#stuexportExcel').on('click', function(){
            // 模拟从后端接口读取需要导出的数据
            var params = {};
            params.course = course;
            var data = JSON.stringify(params);
            $.ajax({
                url: '/Sys/StuScoreDeal/getStuScoreByExcel'
                ,contentType: 'application/json'
                ,data: data
                ,type:'post'
                ,success(res) {
                    var data = res;
                    // 重点！！！如果后端给的数据顺序和映射关系不对，请执行梳理函数后导出
                    data = excel.filterExportData(data, [
                        'className'
                        ,'stuno'
                        ,'stuName'
                        ,'courseName'
                        ,'attendance'
                        ,'work'
                        ,'experiment'
                        ,'other'
                        ,'score'
                    ]);
                    // 重点2！！！一般都需要加一个表头，表头的键名顺序需要与最终导出的数据一致
                    data.unshift({ className: "班级", stuno: "学号",stuName: '姓名', courseName: "课程",attendance:"出勤成绩",work:"作业成绩",experiment:"实验成绩",other:"其他成绩", score:"成绩"});

                    var timestart = Date.now();
                    excel.exportExcel(data, '学生成绩--'+timestart+'.xlsx', 'xlsx');
                    //	var timeend = Date.now();

                    //	var spent = (timeend - timestart) / 1000;
                    //	layer.alert('单纯导出耗时 '+spent+' s');
                }
                ,error() {
                    layer.alert('获取数据失败，请检查是否部署在本地服务器环境下');
                }
            });
        });
    });
</script>

</html>