<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upms.mapper.CourseTimeTableMapper">
    <insert id="addCourseTimeTable">
        insert into course_time_table(class_no,course_year,semester,course_no,week_day,jieci,address,teach_no)
        values
        <foreach collection="mapList" item="map" separator=",">
            (#{map.classNo},#{map.courseYear},#{map.semester},#{map.courseNo},#{map.weekDay},#{map.jieci},#{map.address},#{map.teachNo})
        </foreach>
    </insert>

    <delete id="deleteCourseTimeTable">
        delete from course_time_table where class_no = #{0} and course_year = #{1}
    </delete>
    <select id="getCourseTimeTableList" resultType="com.upms.entity.CourseTimeTable">
        select c.*,t.name as teachName, sc.name as className, co.name as courseName
        from course_time_table c, teacher t, sclass sc, course co
        <where>
            c.teach_no = t.teachno and c.class_no = sc.class_no and c.course_no = co.course_no and c.class_no and c.semester = #{semester} and c.course_year = #{courseYear}
        </where>
    </select>

    <select id="queryCourseYearList" resultType="java.util.HashMap">
        select t.course_year as "value" ,t.course_year as "text"
        from (select
        distinct (course_year)
        from course_time_table where class_no = #{classNo} order by course_no desc) t
    </select>
</mapper>