<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upms.entity.Course">
    <select id="findAll" resultType="com.upms.entity.Course">
        select *
        from course
        <where>
            <if test="classNo != null and classNo != ''">
                and class_no like '%' #{classNo} '%'
            </if>
            <if test="name != null and name != ''">
                and name like '%' #{name} '%'
            </if>
            <if test="grade != null and grade != ''">
                and grade like '%' #{grade} '%'
            </if>
            <if test="speciality != null and speciality != ''">
                and speciality like '%' #{speciality} '%'
            </if>
        </where>
        order by class_no limit #{start},#{pagesize}
    </select>

    <select id="getCount" resultType="Integer">
        select count(id) from course;
    </select>

    <insert id="addCourse">
        insert into course(class_no,name,grade,speciality)values (#{classNo},#{name},#{grade},#{speciality})
    </insert>

    <update id="updateCourse">
        update course
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">stuno=#{name},</if>
            <if test="course_hour!=null">grade=#{grade},</if>
            <if test="speciality!=null">speciality=#{speciality},</if>
        </trim>
        WHERE class_no = #{classNo}
    </update>

    <delete id="deleteCourse">
        delete from course where course_no = #{courseNo}
    </delete>
    
    <update id="updateCoursePercent">
        update course
        <trim prefix="set" suffixOverrides=",">
            <if test="attendancePercent!=null">attendance_percent=#{attendancePercent},</if>
            <if test="workPercent!=null">work_percent=#{workPercent},</if>
            <if test="experimentPercent!=null">experiment_percent=#{experimentPercent},</if>
            <if test="otherPercent!=null">other_percent=#{otherPercent},</if>
        </trim>
        WHERE course_no = #{courseNo}
    </update>
</mapper>