<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upms.mapper.SpecialityMapper">
    <insert id="addSpeciality">
        insert into speciality(speciality_no,name)values (#{specialityNo},#{name})
    </insert>
    <select id="getSpecialityList" resultType="com.upms.entity.Speciality">
        select *
        from speciality
        <if test="name != null and name != ''">
            where name like CONCAT(CONCAT('%',#{name}),'%')
        </if>
        limit #{start},#{pagesize}
    </select>

    <select id="querySpecialityList" resultType="java.util.HashMap">
        select
        speciality_no as "value",
        name as "text"
        from speciality
    </select>
    <select id="getCount" resultType="Integer">
        select count(id) from speciality
        <if test="_parameter != null and _parameter != ''">
            where name like CONCAT(CONCAT('%',#{_parameter}),'%')
        </if>
    </select>

    <update id="updateSpeciality">
        update speciality
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
        </trim>
        WHERE speciality_no = #{specialityNo}
    </update>

    <delete id="deleteSpeciality">
        delete from speciality where speciality_no = #{0}
    </delete>
</mapper>